<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for setting up <%= @group.name %>, <%= @user.first_name %></h1>
    <p>
      We will notify you whenever anyone joins the group
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
  </body>
</html>