<% @groups.each do |group| %>
  <div class="modal-group-container">
    <h2><%= group.name %></h2>
    <p>Group size: <%= group.size %></p>
    <p>Group organizer: <%= group.owner.name %></p>
  </div>
<% end %>