<div id="new-group-container">
  <h3>Create a Group!</h3>

  <div>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>

  <%= render 'form', locals: {group: @group, event: @event} %>
</div>
