<div id="user-show-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-centered">
        <h3><%= "#{@user.first_name} #{@user.last_name}"%></h3>
        <%= image_tag(@user.image, class: "profile-pic") %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-centered">
        <h3>My Own Groups</h3>

        <% @groups.each do |group| %>
        <div class="individual-group">
          <p><%= link_to group.name, event_group_path(group.event, group) %> is going to
          <%= link_to group.event.title, event_path %>
          <% if group.owner == @user %>
            (Owner)</p>
          <% else %>
          </p>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
