<div class="login-form">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <form id='custom-search' action='songkick/custom_search' method='get'>
          <div class="form-group">
            <h1>Location</h1>
            <input type="location" class="form-control" name=location placeholder='Location'>
          </div>
          <div class="form-group">
            <h1>Start Date</h1>
            <input id='start' type='date' class="form-control" value='2016-01-01' name=date[min_date] placeholder='Start Date'>
          </div>
          <div class="form-group">
            <h1>End Date</h1>
            <input id="end" type='date' class="form-control" value='2016-01-01' name=date[max_date] placeholder='End Date'>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>

        <form id='artist-search' action='songkick/artist_search' method='get'>
          <input type='text' name=artist placeholder='artist'>
          <input type='submit' value='Search'>
        </form>

        <form id='has-groups' action='songkick/artist_search' method='get'>
          <input type='submit' value='has groups'>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="posts">
<div>



<div id="new-group-modal">
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span id="spanClose1">×</span>
      <div id="inner-content">
      </div>
    </div>
  </div>

</div>
