<div id="login-form">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <form id='custom-search' action='songkick/custom_search' method='get'>
          <div class="form-group">
            <h1>Location & Time</h1>
            <label>Location</label>
            <input type="location" class="form-control" name=location placeholder='Location'>
          </div>
          <div class="form-group">
            <label>Start Date</label>
            <input id='start' type='date' class="form-control" value='2016-01-01' name=date[min_date] placeholder='Start Date'>
          </div>
          <div class="form-group">
            <label>End Date</label>
            <input id="end" type='date' class="form-control" value='2016-01-01' name=date[max_date] placeholder='End Date'>
          </div>
          <div class="centered">
            <button type="submit" class="btn btn-large btn-success">Submit</button>
          </div>
        </form>
      </div>
      <div id="has-groups-form" class="col-lg-6">
        <form id='artist-search' action='songkick/artist_search' method='get'>
          <div class="form-group">
            <h1>Artist Name</h1>
            <label>Artist</label>
            <input type='text' class="form-control" name=artist placeholder='artist'>
            <div class="centered">
              <button type="submit" class="btn btn-large btn-success">Submit</button>
            </div>
          </div>
        </form>
        <form id='has-groups' action='songkick/artist_search' method='get'>
          <div class="form-group">
            <h1>Has Groups</h1>
            <label>Groups</label>
            <div class="centered">
              <button type="submit" class="btn btn-large btn-success">Has Groups</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="posts-container" class="container">
  <div class="row">
    <div id="posts">
    <div>
  </div>
</div>

<div id="showModal" class="modal">
  <div class="modal-content">
    <span id="spanClose">×</span>
    <div id="inner-content"></div>
  </div>
</div>


