<div id="posts">
<div>

<div id="new-group-modal">
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span id="spanClose">×</span>
      <div id="inner-content">
      </div>
    </div>
  </div>
</div>