// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 50px;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #f1f1f1;
    z-index: 99
}

.event {
    float: left;
    position: relative;
    height: 400px;
    width: 300px;
    margin: 5px;
    border: 1px solid #bbb;
    border-radius: 4px;
}

#custom-search {
    width: 100%;
    display: inline-block;
}

#custom-search input {
    display: inline;
    float: left;
    margin: 0;
}

.event img {
    text-align: center;
    height: 300px;
    width: 300px;
}

.event-show {
    float: left;
    text-align: center;
    height: 400px;
    width: auto;
}

.content {
    text-align: center;
}

.content p {
    margin: 0;
}


.modal {
    display: none;
    position: fixed; /* Stay in place
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    margin: 0 auto;
    text-align: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    max-height: 90%;
    overflow-y: auto; /* Enable scroll if needed */
    border: 1px solid #888;
    width: 80%;
}

#spanClose1, #spanClose2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#spanClose:hover,
#spanClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


