#new-group-container {
  margin-top: ($margin * 6);
}

#new-group-container h3 {
  margin-bottom: ($margin - 0.5);
}

#new-group-container .form-control {
  border-radius: $form-border-radius;
  margin-bottom: ($margin);
}
