@import "components/_variables.scss";

.navbar {
    padding-top: ($padding - 0.5);
    position: fixed;
    width: 100%;
    height: 15%;
    top: 0;
    background-color: $aqua1;
    z-index: 1;
}

.navbar .navbar-brand {
  font-family: $body-copy;
  font-weight: 900;
  font-size: $large-header-size;
  color: $blue2;
}

.navbar .navbar-right .navbar-items a {
  font-family: $heading-copy-bold;
  font-weight: 100;
  font-size: $medium-header-size;
  color: $blue2;
}
