@import "components/_variables.scss";

#user-show-container {
  text-align: center;
}

#user-show-container .col-lg-6 {
  padding: $padding;
  border-radius: $radius;
  border: $border-size $border-type $border-color;
}

#user-show-container .col-lg-6:last-child {
  margin-top: ($margin * 2);
}

#user-show-container img {
  border: $border-size $border-type $border-color;
  width: 50%;
  height: auto;
  border-radius: 100%;
}


// .profile-pic {
//   height: 150px;
//   width: auto;
//   border-radius: 100%;
// }
//
// .user-show {
//     float: left;
//     position: relative;
//     height: 200px;
//     width: 100%;
//     margin: 5px;
//     border: 1px solid #bbb;
//     border-radius: 4px;
// }
//
// .user-show img {
//   float: left;
//   margin-left: 20px;
//   margin-top: 20px;
// }
//
// .user-show h3, p {
//   text-align: center;
// }
