<nav class="navbar navbar-default" role="navigation">

   <div class="navbar-header">
     <button type="button" class="navbar-toggle"
                           data-toggle="collapse"
                           data-target="#example-navbar-collapse">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>

        <%= link_to "Concert Buddy", root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li class="navbar-items"><%=link_to 'Profile',
                          user_path(current_user) %></li>
        <li class="navbar-items"><%= link_to 'Logout', session_path(current_user),
                                    method: :delete %></li>
        <% else %>
        <li class="navbar-items"><%= link_to 'Login', '/users/auth/google_oauth2',
                                                                    method: :get %>
        <% end %>
      </ul>
    </div>

</nav>
